.ActivityCard {
    /* max-width: 19%; */
    /* height: 50px;
    width: 50px; */
    /* flex-basis: content; */
    /* padding-top: 10px; */
    margin:10px;
    background-color: rgba(197, 185, 72, 0.699);
    border-radius: 7%;
}